document {
	color: var(--color-text);
	font-family: system;
	font-size: 32;
}
b {
	bold: true;
}
i {
	italic: true;
}
button {
	padding: 10 18;
	align: both;
	color: var(--color-control-text);
	background-color: var(--color-control-background);
	border-width: 2;
	border-color: var(--color-control-border);
}
.button-primary {
	color: var(--color-on-primary);
	background-color: var(--color-primary);
	border-color: var(--color-primary-border);
}
.button-destructive {
	color: var(--color-on-destructive);
	background-color: var(--color-destructive);
	border-color: var(--color-destructive-border);
}
button.disabled {
	color: var(--color-disabled-text);
	background-color: var(--color-disabled-background);
	border-color: var(--color-disabled-border);
}
select {
	padding: 10 16;
	color: var(--color-control-text);
	background-color: var(--color-control-background);
	border-width: 2;
	border-color: var(--color-control-border);
}
select.disabled {
	color: var(--color-disabled-text);
	background-color: var(--color-disabled-background);
	border-color: var(--color-disabled-border);
}
.h1 { font-size: 1.50rem; }
.h2 { font-size: 1.35rem; }
.h3 { font-size: 1.20rem; }
